html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00B4D8;
}

.form-signin {
  background-color: white;
  border-radius:35px ;
  width: 100%;
  max-width: 330px;
  padding: 35px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
  background-color: #00B4D8;
  color: white;
}
.btn:hover {
  background-color: white;
  color:#00B4D8 ;
  border: 2px solid #00B4D8;
}
